/* CUSTOM PROPS  */
:root {
  --white: rgb(255, 255, 255) ;
  --midnight-green: #014e56;
  --light-colar: #f67e7e;
  --rapture-blue: #79c8c7;
  --police-blue: #2c6269;
  --deep-green: #004047;
  --state-green: #012f34;
  --dark-green: #002529;
}

/* GLOBAL STYLES*/
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
 display: flex;
 flex-direction: column;
 padding: 0%;
 margin: 0%;
 height: 100%;
 font-family: 'Livvic',"Arial",sans-serif;
 background-color: #fff;
 color: var(--white);
 font-size: 15px;
 font-weight: 600;
 line-height: 25px;
 letter-spacing: 0px;
}
img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */
.container {
width: 100%;
max-width: 1150px;
margin-right: auto;
margin-left: auto;
padding-left: 20px;
padding-right: 20px;
}

.main-content {
  flex-grow: 1;
}

/* FONTS  */
/* livvic-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/livvic-v14-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/livvic-v14-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Livvic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/livvic-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



/* BUTTONS  */
.button {
  padding: 9px 32px 11px;
  margin: 0;
  border: 0;
  border-radius: 24px;
  font-size: 18px;
  line-height: 28px;
  cursor: pointer;
  transition: transform 0.3s ;
}
.button:active {
  transform: translateY(3px);
}
.button--green {
  color: var(--white);
  background-color: transparent;
  border: 2px solid var(--white);
}
.button--green:hover {
  color: var(--dark-green);
  background-color: var(--white);
}
.button--reddish {
  color: var(--state-green);
  background-color: transparent;
  border: 2px solid var(--state-green);
}
.button--reddish:hover {
  color: var(--white);
  background-color: var(--state-green);
}



/* SITE HEADER  */
.site-header {
  padding-top: 73px;
  padding-bottom: 120px;
  background-color: var(--midnight-green);
}
.site-header__container {
  display: flex;
  align-items: center;

}
.site-header__main-link {
  text-decoration: none;
}
.site-header__main-link:hover {
  opacity: 0.8;
}
.site-header__main-link:active {
  opacity: 0.6;
}
.logo {
  margin-right: 80px;
}
.logo__img {
  display: block;
  width: 160px;
  height: 40px;
  object-fit: contain;
}
.sitenav {
 display: flex;
 align-items: center;
 margin-right: auto;
}
.sitenav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.sitenav__list:not(:last-child){
  margin-right: 40px;
}
.sitenav__link {
  color: var(--white);
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}
.sitenav__link:hover {
  color: var(--light-colar);
}
.sitenav__link:active {
  opacity: 0.6;
}




/* HERO  */
.hero {
  padding-top: 9px;
  padding-bottom: 250px;
  background-color: var(--midnight-green);
}
.hero__container {
  position: relative;
  display: flex;
  align-items: flex-start;
}
.hero__content {
  display: flex;
  width: 635px;
  height: 200px;
}
.hero__content-title {
  margin: 0;
  margin-right: 30px;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
}
.hero__content-title-reddish {
  color: var(--light-colar);
}
.hero__content-text {
  margin: 0;
  width: 445px;
  height: 112px;
  font-size: 18px;
  line-height: 28px;

}
.hero__content-text::before {
  display: block;
  width: 50px;
  height: 4px;
  margin-bottom: 79px;
  background-color: var(--rapture-blue);
  content: "";
}


.hero__content-posture-one {
  position: absolute;
  left: -238px;
  top: 0;
}


.hero__content-posture-double {
  position: absolute;
  bottom: -350px;
  right: 22px;
}




/* SITE FOOTER  */
.site-footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: var(--dark-green);
}
.site-footer__container {
  display: flex;
  align-items: center;
}
.site-footer__main-links {
  display: flex;
  flex-direction: column;
  margin-right: 125px;
}
.site-footer__main-link {
  margin-bottom: 25px;
}
.site-footer__main-link-inner {
  display: flex;
  align-items: center;
}
.sitenav-footer {
  padding: 0;
  margin: 0%;
}
.site-footer__info {
  width: 445px;
  height: 100px;
  margin-right: auto;
  opacity: 0.6;
}
.site-footer__info-text {
  margin: 0%;
  color: var(--white);
  font-size: 15px;
  line-height: 25px;
}
.site-footer__socials {
  display: flex;
  flex-direction: column;
}
.site-footer__socials-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.site-footer__socials-list-item:not(:last-child) {
   margin-right: 16px;
}
.site-footer__socials-list-item:hover {
  color: var(--light-colar);
}
.site-footer__socials-list-item:active {
  opacity: 0.6;
}
.site-footer__socials-text {
  margin: 0%;
  margin-top: 51px;
  color: var(--white);
  font-weight: 600;
  line-height: 25px;
  text-transform: capitalize;
  opacity: 0.6;
}

/* CTA  */
.cta {
  padding-top: 76px;
  padding-bottom: 76px;
  background-color: var(--light-colar);
}
.cta__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta__title {
  margin: 0;
  margin-right: 260px;
  color: rgb(1, 47, 52);
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}


/* FEATURE  */
.feature {
  position: relative;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--state-green);
  z-index: 9999;
}
.feature__container {
  display: flex;
  align-items: flex-start;
}
.feature__line {
  margin: 0;
  margin-bottom: 54px;
  border: 0;
  width: 50px;
  height: 4px;
  background-color: var(--light-colar);
}
.feature__title {
  margin: 0;
  margin-right: 125px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}
.feature__list {
  list-style: none;
  margin: 0;
  padding: 0%;
}
.features__item {
  display: flex;
  align-items: flex-start;
}
.features__item:not(:last-child){
  margin-bottom: 32px;
}
.feature__img {
  display: block;
  margin-right: 23px;
  width: 72px;
  height: 72px;
  object-fit: cover;
}
.feature__inner-title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--light-colar);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
}
.feature__inner-text {
  margin: 0;
  opacity: 0.8;
}


/* STORY  */
.story {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--deep-green);
}
.story__title {
  margin: 0;
  margin-bottom: 92px;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.story__title-dif {
  color: var(--rapture-blue);
}
.story__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  list-style-type: none;
  padding: 0%;
  margin: 0;
}
.story__sign {
  position: absolute;
  left: 138px;
  top: -36px;
  z-index: -1;
}
.story__item {
  display: flex;
  flex-direction: column;
}
.story__item:not(:last-child) {
  margin-right: 30px;
}
.story__quote {
  position: relative;
  z-index: 9999;
  margin: 0;
  margin-bottom: 24px;
  text-align: center;
}
.story__auther {
  margin: 0;
  margin-bottom: 2px;
  color: var(--rapture-blue);
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.story__auther-position {
  margin: 0;
  margin-bottom: 32px;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}
.story__auther-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 62px;
  height: 62px;
  object-fit: contain;
  border-radius: 50%;

}